<%- include("./partials/header") -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<!--  for(i=0; i<posts.length; i++){ -->
<!--    console.log(posts[i].todayPostTitle)  -->
<!--   } -->

<%# above things using array.forEach loop %> <% posts.forEach(function(post){ %>
<h1><%= post.title %></h1>
<p>
  <%= post.content.substring(0, 100) + " ..." %>
  <a href="/posts/<%= post._id %>">Read More</a>
</p>

<% }) %>

<div class="compose-new-journal">
  <a href="/compose"
    ><button type="button" class="btn compose-btn btn-lg btn-primary">
      Compose New Journal
    </button></a
  >
</div>

<%- include("partials/footer") -%>
